body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}


.banner_1 {
  padding: 0 5% 0 5%;
}

@media (max-width: 1083px) {
  .banner_1 {
    padding: 0;
  }
.banner {
    width: 100%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 760px) {
 .swiper-slide {
    flex-wrap: wrap;
  }
}

 .swiper-slide img {
  width: 100%;
}
 .swiper-slider-banner {
  display: block;
}

@media (max-width: 760px) {
.swiper-slider-banner {
    display: none;
  }
}

.swiper-slider-banner-sm {
  display: none;
}

@media (max-width: 760px) {
.swiper-slider-banner-sm {
    display: block;
  }
}

 .banner_contents {
  position: absolute;
  width: 88%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 760px) {
.banner_contents {
    width: 100%;
    position: unset;
    background-color: #e6e6e6;
  }
}

@media (max-width: 760px) {
 .banner_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 280px;
  }
}
 .banner_content h2 {
  font-size: 24px;
  color: black;
}

@media (min-width: 1400px) {
 .banner_content h2 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

@media (max-width: 760px) {
 .banner_content h2 {
    font-size: 20px;
  }
}

 .banner_content span {
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
  display: block;
}

@media (max-width: 760px) {
 .banner_content span {
    margin-bottom: 0px;
  }
}

.banner_content a {
  padding: 10px 20px;
  background-color: black;
  font-size: 15px;
  color: #FFF;
}

@media (max-width: 760px) {
 .iphone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 280px;
  }
}

 .iphone h2 {
  font-size: 24px;
  color: white;
}

@media (min-width: 1400px) {
.iphone h2 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

@media (max-width: 760px) {
.iphone h2 {
    color: black;
    font-size: 20px;
  }
}

 .iphone span {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  display: block;
}

@media (max-width: 760px) {
 .iphone span {
    color: black;
    margin-bottom: 0px;
  }
}

 .iphone a {
  padding: 10px 20px;
  background-color: #eeeeee;
  font-size: 15px;
  color: black;
}

@media (max-width: 760px) {
 .iphone a {
    background-color: black;
    color: white;
  }
}

.card_1 {
  padding: 0 5% 0 5%;
  box-sizing: border-box;
}

 .card_content {
  margin-top: 48px;
}

 .card_product img {
  width: 100%;
}

.card_text h2 {
  font-size: 20px;
  color: black;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.95;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 37px;
}

@media (max-width: 576px) {
.card_text h2 {
    font-size: 18px;
  }
}

 .card_text p {
  font-size: 15px;
  color: black;
}

 .card_text a {
  font-size: 15px;
  color: #0067b8;
  padding: 10px 3px 7px 0;
}

.banner_2 {
  margin-top: 48px;
  width: 100%;
  padding: 0 5% 0 5%;
}

@media (max-width: 1083px) {
  .banner_2 {
    padding: 0;
  }
}

 .banner_2_container {
  width: 100%;
}

 .banner_all {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1083px) {
.banner_all {
        flex-wrap: wrap;
  }
}

.banner_all img {
  width: 100%;
  position: relative;
}

 .banner_2_text {
  position: absolute;
  width: 88%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 1083px) {
.banner_2_text {
    width: 100%;
    position: unset;
  }
}

@media (max-width: 1083px) {
.banner_2_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    height: 280px;
  }
}

.banner_2_content h2 {
  font-size: 24px;
  color: black;
}

@media (min-width: 1400px) {
 .banner_2_content h2 {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

 .banner_2_content span {
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
  display: block;
}

.banner_2_content a {
  padding: 10px;
  background-color: black;
  font-size: 15px;
  color: #FFF;
}

.card_2 {
  width: 100%;
  padding: 0 5% 0 5%;
}

.card_2_container {
  width: 100%;
}

.card_2_container h2 {
  margin-top: 48px;
  font-size: 24px;
  font-weight: 600;
}

 .card_2_content {
  margin-top: 20px;
}

 .card_2_product img {
  width: 100%;
}

.card_2_text h2 {
  font-size: 20px;
  color: black;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.95;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 37px;
}

@media (max-width: 576px) {
.card_2_text h2 {
    font-size: 18px;
  }
}

.card_2_text p {
  font-size: 15px;
  color: black;
}

@media (max-width: 760px) {
.card_2_text p {
    margin-bottom: 0px;
  }
}

.card_2_text a {
  font-size: 15px;
  color: #0067b8;
  padding: 10px 3px 7px 0;
}

