.info{
    overflow: hidden;
    &:nth-child(1){
        background-color: rgb(12, 117, 197);
        z-index: 1;
    }
    &:hover{
        background-color: rgb(37, 142, 222);
    }
    .row{
        position: relative;

        &::before{
         content:"";
         display: block;
         width:50%;
         height:100%;
         position: absolute;
         top:0;
         left:-50%;
         background-color: rgb(34, 128, 200);
        }
        &:hover{
            background-color: rgb(37, 142, 222);
        }
    }
}